In [5]:
import pandas as pd
import seaborn as sns

In [8]:
# Carica dati sui passeggeri del titanic dalla libreria seaborn
# Vedremo questa libreria nel modulo successivo
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

# Metodi utili
Nella scorsa lezione abbiamo visto che Pandas ha delle proprietà a cui possiamo accedere per leggere, ad esempio, i nomi delle colonne, il numero di righe, etc.
Ha a disposizione anche tanti metodi che possono essere applicati per avere un’idea della distribuzione dei dati.
Notare che mentre le proprietà (attributi) vengono acceduti senza mettere la parentesi, un metodo ha necessità delle parentesi ed eventualmente prende dei parametri in ingresso.

`head([n=5])` mostra i primi 5 record, altrimenti i primi n se fornito un numero.

In [9]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [10]:
df.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

`tail([n=5])` mostra gli ultimi 5 record, altrimenti gli ultimi n se fornito un numero.

In [11]:
df.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [12]:
df.tail(1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

`max()`, `min()` ritorna il valore massimo/minimo per tutte le colonne.

Aggiungendo il parametro `numeric_only=True` considera solo quelle di tipo numerico.

In [15]:
df.min(numeric_only=True)

survived          0
pclass            1
age            0.42
sibsp             0
parch             0
fare            0.0
adult_male    False
alone         False
dtype: object

In [16]:
df.max(numeric_only=True)

survived             1
pclass               3
age               80.0
sibsp                8
parch                6
fare          512.3292
adult_male        True
alone             True
dtype: object

`mean()`, `median()`, `mode()` ritornano la media/mediana/moda per tutte le colonne.
Aggiungendo il parametro `numeric_only=True` considera solo quelle di tipo numerico.

In [18]:
df.mean(numeric_only=True)

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [36]:
df.median(numeric_only=True)

survived       0.0000
pclass         3.0000
age           28.0000
sibsp          0.0000
parch          0.0000
fare          14.4542
adult_male     1.0000
alone          1.0000
dtype: float64

In [37]:
df.mode()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,24.0,0,0,8.05,S,Third,man,True,C,Southampton,no,True

`std()` calcola la deviazione standard per tutte le colonne.
Aggiungendo il parametro `numeric_only=True` considera solo quelle di tipo numerico.

In [23]:
df.std(numeric_only=True)

survived       0.486592
pclass         0.836071
age           14.526497
sibsp          1.102743
parch          0.806057
fare          49.693429
adult_male     0.489615
alone          0.489615
dtype: float64

`sample(n=None, frac=None, replace=False, random_state=None)`

Esegue un campionamento sul dataframe.

Impostando n uguale ad un numero intero ritorna esattamente quel numero di righe, altrimenti si può impostare frac uguale ad un numero decimale e ritornerà quella percentuale di righe.

Se si imposta replace=True (di default è False), lo stesso record può essere preso più volte.

Il campionamento viene eseguito ogni volta in modo totalmente casuale, quindi eseguendolo più volte si avranno risultati diversi, se si vuole un campionamento pseudocasuale (e sempre uguale su più esecuzioni) si può impostare un valore numerico nel campo random_state.

In [49]:
df.sample(n=5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
102,0,1,male,21.0,0,1,77.2875,S,First,man,True,D,Southampton,no,False
99,0,2,male,34.0,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
148,0,2,male,36.5,0,2,26.0000,S,Second,man,True,F,Southampton,no,False
218,1,1,female,32.0,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
339,0,1,male,45.0,0,0,35.5000,S,First,man,True,NaN,Southampton,no,True

In [51]:
df.sample(n=5, random_state=42)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
709,1,3,male,24.0,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
439,0,2,male,31.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
840,0,3,male,20.0,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
720,1,2,female,6.0,0,1,33.0000,S,Second,child,False,NaN,Southampton,yes,False
39,1,3,female,14.0,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False

In [33]:
df.sample(frac=0.20).shape

(178, 15)

# Valori nulli

In Pandas i valori nulli possono essere indicati con None che è l’oggetto nativo di Python per indicare l'assenza di valore, oppure con NaN (Not a Number), un valore speciale di NumPy.

Per la gestione dei valori nulli si usano fondamentalmente tre metodi:
*	isna() consente di visualizzare se un dataframe contiene o meno valori nulli. Di default lo applica su ogni cella del dataframe, restituendo un nuovo dataframe di valori booleani. Se si vuole una statistica riassuntiva per ogni colonna, si può fare isna().any() oppure isna().sum().
*	fillna(value, inplace=False) sostituisce i valori nulli con il valore fornito. Se inplace=False (default) restituisce una copia del dataframe, se è impostato a True modifica direttamente il dataframe su cui è applicato.
*	dropna(axis=0, inplace=False) se axis=0 (default) elimina le righe che in uno dei loro attributi contengono un valore nullo, se axis=1 elimina le colonne che contengono almeno un valore nullo. Se inplace=False (default) restituisce una copia del dataframe, se è impostato a True modifica direttamente il dataframe su cui è applicato.


Ci sono valori nulli nel dataset?

In [52]:
df.isna()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [34]:
df.isna().any()

survived       False
pclass         False
sex            False
age             True
sibsp          False
parch          False
fare           False
embarked        True
class          False
who            False
adult_male     False
deck            True
embark_town     True
alive          False
alone          False
dtype: bool

Quanti sono?

In [35]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Possiamo sostituirli con fillna specificando un valore.


Ad esempio, sostituiamo i valori mancanti in age con la moda.

In [48]:
moda = df['age'].mode()[0]
print(moda)
df['age'] = df['age'].fillna(moda)

print(df['age'].isna().any())

24.0
False